settings:
  title: 'Raphus Social System Status'
  url: 'https://status.raphus.social' # used for Slack messages
  logo: logo-192x192.png # image in ./public/ folder
  daysInHistogram: 90 # number of days you want to display in histogram
  collectResponseTimes: true # collects avg response times from CRON locations

  allmonitorsOperational: 'All Systems Operational'
  notAllmonitorsOperational: 'Not All Systems Operational'
  monitorLabelOperational: 'Operational'
  monitorLabelNotOperational: 'Not Operational'
  monitorLabelNoData: 'No data'
  dayInHistogramNoData: 'No data'
  dayInHistogramOperational: 'All good'
  dayInHistogramNotOperational: ' incident(s)' # xx incident(s) recorded

monitors:
  - id: raphus-web # unique identifier
    name: 'Raphus Social'
    description: 'Main site for Raphus Social' # default=empty
    url: 'https://raphus.social/api/v1/instance' # URL to fetch
    linkurl: 'https://raphus.social' # URL to link
    method: HEAD # default=GET
    expectStatus: 200 # operational status, default=200
    followRedirect: false # should fetch follow redirects, default=false
    linkable: true # allows the title to be a link, default=true
  - id: raphus-r2 # unique identifier
    name: 'Media Storage'
    description: 'Uploaded and cached media' # default=empty
    url: 'https://files.raphus.social/Image-Source-PlusPNG.com.png' # URL to fetch
    linkurl: 'https://raphus.social' # URL to link
    method: HEAD # default=GET
    expectStatus: 200 # operational status, default=200
    followRedirect: false # should fetch follow redirects, default=false
    linkable: true # allows the title to be a link, default=true
  - id: raphus-cdn # unique identifier
    name: 'Web UI'
    description: 'Web interface to Raphus Social' # default=empty
    url: 'https://raphus.social/api/v1/streaming/health' # URL to fetch
    linkurl: 'https://raphus.social' # URL to link
    method: GET # default=GET
    expectStatus: 200 # operational status, default=200
    followRedirect: false # should fetch follow redirects, default=false
    linkable: true # allows the title to be a link, default=true
  - id: raphus-bookwyrm # unique identifier
    name: 'BookWyrm'
    description: 'BookWyrm @ Raphus Social' # default=empty
    url: 'https://books.raphus.social/nodeinfo/2.0' # URL to fetch
    linkurl: 'https://books.raphus.social' # URL to link
    method: HEAD # default=GET
    expectStatus: 200 # operational status, default=200
    followRedirect: false # should fetch follow redirects, default=false
    linkable: true # allows the title to be a link, default=true
